*.log
*.pot
*.pyc
*.db
guitar-web/src/guitar/settings/local.py
guitar-package/guitar/guitar.egg-info/
guitar-package/guitar/build/
guitar-package/guitar/dist/

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.idea
.test-site
.sass-cache
models.png
*.sublime-project
*.sublime-workspace
